@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu-bar {
    @apply absolute block h-1 bg-gray-800 dark:bg-gray-200 w-full transition-all duration-300;
  }

  .menu-bar-open-top {
    @apply rotate-[38deg] scale-[.95] translate-x-[12px] translate-y-[6px] rounded-sm w-[65%];
  }

  .menu-bar-open-middle {
    @apply rounded-sm w-[90%] translate-x-[2px];
  }

  .menu-bar-open-bottom {
    @apply rotate-[-38deg] scale-[.95] translate-x-[12px] translate-y-[-6px] rounded-sm w-[65%];
  }
}

@layer base {
  h1 {
    @apply text-2xl md:text-3xl lg:text-4xl font-semibold mb-6;
  }

  h2 {
    @apply text-xl md:text-2xl lg:text-3xl font-semibold mb-6;
  }

  h3 {
    @apply text-lg md:text-xl lg:text-2xl font-semibold mb-4;
  }

  p {
    @apply mb-4;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.5;
}

.overflow-hidden {
  overflow: hidden;
}
