---
type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<div
  class:list={[
    "h-full w-full flex justify-center items-center max-h-44",
    className,
  ]}
  data-whisk-image
>
  <svg
    class="w-[65%]"
    x="0px"
    y="0px"
    viewBox="0 0 380.737 380.737"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden
  >
    <g>
      <path
        class="fill-gray-800 dark:fill-gray-200"
        d="M 375.808 5.815 C 369.197 -0.779 358.519 -0.779 351.931 5.815 C 351.838 5.897 351.792 5.983 351.699 6.065 L 351.699 6.042 C 351.699 6.042 264.002 93.74 255.881 101.867 C 222.616 148.957 199.257 155.417 199.257 155.417 L 190.584 164.084 L 195.342 168.848 C 180.092 182.622 148.774 197.912 115.51 214.097 C 75.571 233.523 34.237 253.624 17.774 273.166 C -0.051 294.29 -1.323 313.112 0.733 325.172 C 2.493 335.49 7.431 344.971 14.437 351.988 C 17.069 354.613 19.997 356.914 23.157 358.773 L 27.631 361.399 C 28.752 362.816 29.931 364.164 31.203 365.442 C 38.232 372.461 47.69 377.363 58.019 379.129 C 70.084 381.197 88.895 379.908 110.024 362.108 C 129.584 345.633 149.655 304.329 169.082 264.349 C 184.657 232.339 199.407 202.131 212.798 186.284 L 216.655 190.164 L 225.322 181.497 C 225.322 181.497 237.127 149.993 279.5 125.96 C 286.519 118.937 375.552 29.908 375.552 29.908 L 375.529 29.873 C 375.599 29.791 375.716 29.739 375.785 29.658 C 382.384 23.092 382.384 12.38 375.808 5.815 Z M 7.443 324.033 C 5.625 313.379 6.839 296.672 22.971 277.535 C 38.517 259.086 79.182 239.31 118.494 220.209 C 126.563 216.282 134.534 212.401 142.207 208.59 C 96.482 237.777 40.242 274.028 33.247 280.069 C 10.986 300.867 14.222 330.215 18.219 346.063 C 12.759 340.102 8.86 332.295 7.443 324.033 Z M 24.517 343.414 C 20.974 328.879 18.458 303.166 37.791 285.111 C 43.252 280.394 82.575 254.855 121.8 229.713 C 85.503 257.668 49.468 285.832 42.567 292.733 C 33.33 301.946 26.358 326.52 24.517 343.414 Z M 47.359 297.508 C 55.178 289.678 103.634 252.137 145.298 220.197 C 87.275 273.224 77.521 283.531 67.314 294.336 C 64.014 297.846 60.662 301.4 55.544 306.513 C 42.066 319.991 35.345 333.584 31.464 343.274 C 33.236 328.914 38.378 306.501 47.359 297.508 Z M 53.401 353.115 C 63.445 351.023 81.634 346.167 90.476 337.314 C 97.389 330.423 125.547 294.382 153.507 258.085 C 128.37 297.286 102.861 336.581 98.196 341.995 C 80.088 361.398 54.248 358.865 39.719 355.333 C 45.692 354.648 51.402 353.533 53.401 353.115 Z M 39.912 348.41 C 49.596 344.529 63.207 337.79 76.685 324.324 C 81.815 319.2 85.359 315.865 88.844 312.554 C 99.649 302.353 109.978 292.605 163.006 234.558 C 131.06 276.246 93.509 324.683 85.684 332.515 C 76.685 341.508 54.295 346.655 39.912 348.41 Z M 163.006 261.397 C 143.899 300.726 124.124 341.392 105.679 356.914 C 86.537 373.041 69.835 374.25 59.198 372.449 C 50.903 371.031 43.1 367.138 37.152 361.678 C 52.988 365.653 82.383 368.87 103.256 346.551 C 109.228 339.603 145.444 283.392 174.611 237.707 C 170.796 245.328 166.915 253.299 163.006 261.397 Z M 202.898 180.601 C 109.966 283.264 97.436 295.115 84.196 307.628 C 80.634 310.963 77.056 314.356 71.88 319.549 C 60.366 331.051 48.73 337.291 39.818 341.09 C 43.693 332.516 49.81 321.873 60.366 311.322 C 65.548 306.14 68.929 302.562 72.287 299.03 C 84.777 285.785 96.64 273.236 199.303 180.334 C 201.301 179.056 202.841 178.091 203.909 177.4 L 204.536 178.033 C 204.025 178.794 203.503 179.625 202.898 180.601 Z M 369.592 26.468 C 365.886 30.18 350.281 39.76 346.587 36.071 C 342.88 32.383 352.489 16.784 356.184 13.072 C 359.89 9.371 365.886 9.371 369.569 13.072 C 373.298 16.772 373.298 22.767 369.592 26.468 Z"
        transform="matrix(-0.002577, -0.999997, 0.999997, -0.002577, 0.491566, 381.226433)"
      ></path>
      <path
        class="fill-gray-800 dark:fill-gray-200"
        d="M 375.808 5.815 C 369.197 -0.779 358.519 -0.779 351.931 5.815 C 351.838 5.897 351.792 5.983 351.699 6.065 L 351.699 6.042 C 351.699 6.042 264.002 93.74 255.881 101.867 C 222.616 148.957 199.257 155.417 199.257 155.417 L 190.584 164.084 L 195.342 168.848 C 180.092 182.622 148.774 197.912 115.51 214.097 C 75.571 233.523 34.237 253.624 17.774 273.166 C -0.051 294.29 -1.323 313.112 0.733 325.172 C 2.493 335.49 7.431 344.971 14.437 351.988 C 17.069 354.613 19.997 356.914 23.157 358.773 L 27.631 361.399 C 28.752 362.816 29.931 364.164 31.203 365.442 C 38.232 372.461 47.69 377.363 58.019 379.129 C 70.084 381.197 88.895 379.908 110.024 362.108 C 129.584 345.633 149.655 304.329 169.082 264.349 C 184.657 232.339 199.407 202.131 212.798 186.284 L 216.655 190.164 L 225.322 181.497 C 225.322 181.497 237.127 149.993 279.5 125.96 C 286.519 118.937 375.552 29.908 375.552 29.908 L 375.529 29.873 C 375.599 29.791 375.716 29.739 375.785 29.658 C 382.384 23.092 382.384 12.38 375.808 5.815 Z M 7.443 324.033 C 5.625 313.379 6.839 296.672 22.971 277.535 C 38.517 259.086 79.182 239.31 118.494 220.209 C 126.563 216.282 134.534 212.401 142.207 208.59 C 96.482 237.777 40.242 274.028 33.247 280.069 C 10.986 300.867 14.222 330.215 18.219 346.063 C 12.759 340.102 8.86 332.295 7.443 324.033 Z M 24.517 343.414 C 20.974 328.879 18.458 303.166 37.791 285.111 C 43.252 280.394 82.575 254.855 121.8 229.713 C 85.503 257.668 49.468 285.832 42.567 292.733 C 33.33 301.946 26.358 326.52 24.517 343.414 Z M 47.359 297.508 C 55.178 289.678 103.634 252.137 145.298 220.197 C 87.275 273.224 77.521 283.531 67.314 294.336 C 64.014 297.846 60.662 301.4 55.544 306.513 C 42.066 319.991 35.345 333.584 31.464 343.274 C 33.236 328.914 38.378 306.501 47.359 297.508 Z M 53.401 353.115 C 63.445 351.023 81.634 346.167 90.476 337.314 C 97.389 330.423 125.547 294.382 153.507 258.085 C 128.37 297.286 102.861 336.581 98.196 341.995 C 80.088 361.398 54.248 358.865 39.719 355.333 C 45.692 354.648 51.402 353.533 53.401 353.115 Z M 39.912 348.41 C 49.596 344.529 63.207 337.79 76.685 324.324 C 81.815 319.2 85.359 315.865 88.844 312.554 C 99.649 302.353 109.978 292.605 163.006 234.558 C 131.06 276.246 93.509 324.683 85.684 332.515 C 76.685 341.508 54.295 346.655 39.912 348.41 Z M 163.006 261.397 C 143.899 300.726 124.124 341.392 105.679 356.914 C 86.537 373.041 69.835 374.25 59.198 372.449 C 50.903 371.031 43.1 367.138 37.152 361.678 C 52.988 365.653 82.383 368.87 103.256 346.551 C 109.228 339.603 145.444 283.392 174.611 237.707 C 170.796 245.328 166.915 253.299 163.006 261.397 Z M 202.898 180.601 C 109.966 283.264 97.436 295.115 84.196 307.628 C 80.634 310.963 77.056 314.356 71.88 319.549 C 60.366 331.051 48.73 337.291 39.818 341.09 C 43.693 332.516 49.81 321.873 60.366 311.322 C 65.548 306.14 68.929 302.562 72.287 299.03 C 84.777 285.785 96.64 273.236 199.303 180.334 C 201.301 179.056 202.841 178.091 203.909 177.4 L 204.536 178.033 C 204.025 178.794 203.503 179.625 202.898 180.601 Z M 369.592 26.468 C 365.886 30.18 350.281 39.76 346.587 36.071 C 342.88 32.383 352.489 16.784 356.184 13.072 C 359.89 9.371 365.886 9.371 369.569 13.072 C 373.298 16.772 373.298 22.767 369.592 26.468 Z"
        transform="matrix(0.999991, -0.004308, 0.004308, 0.999991, -0.818406, 0.821941)"
      ></path>
    </g>
  </svg>
</div>
