<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iFrame Testing</title>
  </head>
  <body style="padding: 40px;">
    <div
      style="margin: 0 auto 40px; width: 300px; padding: 20px; border: 1px solid #ccc;"
    >
      <form>
        <div>
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" />
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" />
        </div>
      </form>
      <button type="submit">Login</button>
    </div>

    <iframe
      style="display: block; margin: 0 auto; width: 600px; height: 600px; padding: 20px; border: 1px solid #ccc;"
      src="https://practicetestautomation.com/practice-test-login/"
      frameborder="0"></iframe>
  </body>
</html>
