---
import Layout from "../layouts/Layout.astro";
import NKLogo from "../components/NKLogo/NkLogo.astro";
---

<Layout>
  <div class="flex h-full justify-center align-center w-full">
    <NKLogo />
  </div>
</Layout>
