---
import Layout from "../layouts/Layout.astro";
import NKLogo from "../components/NKLogo/NkLogo.astro";
---

<Layout>
  <div><!--- empty header for spacing --></div>
  <main class="flex flex-col items-center justify-center p-4 h-full">
    <NKLogo />
  </main>
</Layout>

<script>
  import { changeCaretColor } from "../utils/change-caret-color.ts";

  window.addEventListener("mousemove", changeCaretColor);
  window.addEventListener("touchmove", changeCaretColor);
</script>
