---
import Layout from "../layouts/Layout.astro";
import NKLogo from "../components/NKLogo/NkLogo.astro";
---

<Layout>
  <div class="flex h-full justify-center align-center w-full">
    <NKLogo />
  </div>
</Layout>

<script>
  import { changeCaretColor } from "../utils/change-caret-color.ts";

  window.addEventListener("mousemove", changeCaretColor);
  window.addEventListener("touchmove", changeCaretColor);
</script>
