---
import Layout from "../layouts/Layout.astro";
import Logo from "~/components/Logo/Logo.astro";
---

<Layout>
  <div class="flex h-full justify-center align-center w-full">
    <Logo />
  </div>
</Layout>
