---
import AnimatedAnchor from "../AnimatedAnchor/AnimatedAnchor.astro";
import ArrowLeft from "../Icon/ArrowLeft.astro";

type Props = {
  /** When defined, shows a back arrow with the provided destination */
  backLink: string;
};

const { backLink } = Astro.props;
---

<header class="flex py-5">
  <div class="flex flex-1 items-center">
    <AnimatedAnchor href={backLink} aria-label="go back">
      <ArrowLeft />
    </AnimatedAnchor>
  </div>
  <div class="flex-[4_2_0%] w-full capitalize">
    <h1 class="text-center mb-0">
      <slot />
    </h1>
  </div>
  <div class="flex-1 w-full">
    <slot name="right" />
  </div>
</header>
