<label
  class="w-fit flex items-center justify-end cursor-pointer relative select-none rounded-md focus-visible:outline-offset-3 focus-visible:outline-2 focus-visible:outline-current"
  for="burger-toggle"
>
  <input type="checkbox" id="burger-toggle" class="sr-only" checked />
  <span id="burger-toggle-label" class="mr-4">Minnesota</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 100 100"
    width="40"
    height="40"
    aria-hidden="true"
  >
    <defs>
      <symbol>
        <path
          id="globe"
          d="M 93.034887,27.485879 C 89.312755,20.430008 83.804204,14.321247 77.100539,9.8175929 69.130523,4.4973653 59.823867,1.6850204 50.186792,1.6850204 c -9.637075,0 -18.943731,2.8123449 -26.917536,8.1350355 C 16.56957,14.321247 11.061019,20.429818 7.3419185,27.479816 3.6410059,34.415948 1.6850204,42.267931 1.6850204,50.186792 c 0,7.918862 1.9559855,15.770844 5.6534878,22.700724 3.6274018,6.877968 8.9260308,12.824172 15.3473998,17.24958 v 0.05115 h 0.07465 c 0.197985,0.135843 0.393319,0.275096 0.593389,0.408097 7.940839,5.293892 17.219455,8.092217 26.832847,8.092217 9.613392,0 18.892009,-2.798325 26.831143,-8.09108 0.200638,-0.13338 0.396729,-0.273012 0.595283,-0.409234 h 0.07465 v -0.05115 c 6.421938,-4.426355 11.720188,-10.37218 15.343991,-17.243517 3.700723,-6.935943 5.656708,-14.788115 5.656708,-22.706787 0,-7.918672 -1.955985,-15.770844 -5.653677,-22.700913 z M 22.685719,86.441109 C 18.098702,82.955613 14.202266,78.61262 11.237596,73.687606 h 11.448123 z m 0,-15.753603 H 9.580389 C 6.5598274,64.753617 4.9223242,58.37374 4.710129,51.686747 h 17.97559 z m 0,-22.000858 H 4.710129 C 4.9223242,42.001739 6.5590696,35.623188 9.5805784,29.685889 H 22.685908 v 19.000759 z m 0,-22.00067 H 11.237975 c 2.955387,-4.90531 6.853717,-9.251334 11.447744,-12.757481 z M 48.686648,95.662887 C 40.472418,95.397075 32.565871,92.950198 25.685819,88.536348 V 73.687606 h 23.000829 z m 0,-24.975381 H 25.685819 V 51.686937 h 23.000829 z m 0,-22.000858 H 25.685819 v -19.00057 h 23.000829 z m 0,-22.00067 H 25.685819 V 11.825111 C 32.574018,7.4192182 40.479238,4.9763203 48.686648,4.7106974 Z M 74.687766,88.536537 C 67.80885,92.94963 59.901924,95.397075 51.686937,95.662887 V 73.687606 h 23.000829 z m 0,-17.849031 H 51.686937 V 51.686937 h 23.000829 z m 0,-22.000858 H 51.686937 v -19.00057 h 23.000829 z m 0,-22.00067 H 51.686937 V 4.7106974 c 8.208735,0.2656229 16.114714,2.7090892 23.000829,7.1142246 z m 3.000099,-12.757481 c 4.594217,3.506526 8.491031,7.851035 11.447555,12.757481 H 77.687865 Z m 0,15.757581 h 13.105331 c 3.020751,5.933889 4.658254,12.313767 4.870449,19.000759 H 77.688055 V 29.686078 Z m 0,56.754842 V 73.687606 h 11.448503 c -2.962777,4.922551 -6.85978,9.266112 -11.448503,12.753314 z M 90.793006,70.687506 H 77.687676 V 51.686937 h 17.97559 c -0.212005,6.684529 -1.848751,13.06327 -4.87026,19.000569 z"
        ></path>
      </symbol>
      <symbol>
        <path
          id="minnesota"
          d="m 16.889926,99.425872 0.0029,-28.901093 C 15.27039,68.886513 14.02128,67.58821 12.463282,65.545418 c 0.0717,-0.493827 0.04827,-0.710857 0.408543,-1.361056 0.704432,-2.051931 1.887768,-4.595721 2.815654,-6.590914 -0.07485,-4.157141 -1.495057,-8.234905 -2.778878,-12.205283 l 0.236551,-1.761588 c 0.09416,-0.171926 0.108018,-0.208119 0.200452,-0.382244 -0.353707,-3.814876 -0.710349,-7.62957 -1.065997,-11.444294 -0.803368,-3.046249 -2.265826,-6.595618 -3.3450833,-9.691617 l 0.00956,-0.03843 c 0,-1.713644 -0.1002928,-4.318541 -0.1002928,-6.098559 L 8.7865274,15.608592 C 8.9617798,14.954522 9.1856731,13.701598 9.4030848,13.03161 9.393144,12.887868 7.7801167,7.9831316 7.9071967,7.2402498 15.914872,7.2450245 23.922644,7.279445 31.93032,7.2717015 31.9722,2.9145866 31.90996,6.7925774 31.93512,0.44468567 c 0.04369,0.003824 2.610011,0.80268913 3.902024,1.12612033 0.537172,2.9404974 1.241576,9.354745 1.484838,9.627144 4.343874,2.865185 9.272711,2.004075 9.881324,2.647354 0.564647,0.628545 -0.03595,1.431636 0.461466,1.905645 l 0.113409,0.0095 c 1.457888,-0.03394 2.257575,-0.14248 3.67123,-0.52743 0.376517,-0.340419 0.744584,-0.692272 1.115298,-1.039593 0,0 7.391309,0.836072 8.522181,1.088386 0.0283,0.145857 0.06596,0.289112 0.106397,0.431478 l 0.0019,0.01118 -1.007242,0.952531 c 0.48853,0.666566 1.303504,0.463121 2.029895,0.267219 l 0.935381,0.812326 c -0.326117,0.589512 0.590641,2.495913 1.009442,3.14788 0.543567,-0.442041 0.789764,-0.290048 1.150976,-0.486179 l -0.222861,-1.648589 2.908634,0.170807 0.07926,0.128122 0.35582,0.07782 3.301356,2.125284 0.05105,0.09082 0.121983,1.07702 1.628791,0.408745 0.07304,0.09111 c -0.266052,0.172709 -0.285592,0.498913 -0.232124,0.792153 l 0.06672,0.235041 6.833095,-3.047894 1.616344,-0.107191 1.108903,2.273884 c 0,0 13.220336,1.681122 14.496088,1.386486 0.0086,0.08939 -0.605344,0.375198 -0.605344,0.375198 0,0 -9.72371,4.127772 -13.825871,6.351256 0,0 -15.689405,14.309795 -18.004234,16.274913 -0.0057,3.316288 -0.0261,6.642614 -0.03173,9.961513 -0.259734,0.112855 -1.797054,1.912824 -3.570324,2.225902 -0.834773,0.712692 -1.854892,3.034739 -2.702446,3.456094 -0.561004,0.340217 -0.772632,1.660863 -0.548261,2.367982 -0.111928,1.050185 0.580286,-0.274303 1.819635,0.805518 -0.05459,1.031057 0.864981,1.034355 0.886854,2.058719 0.08097,0.09798 -0.208874,3.616863 -1.789292,10.950937 0.455368,0.876137 8.314013,5.806647 9.207761,5.992167 0.869388,0.344501 0.92868,1.237092 1.397909,2.029752 0.572869,2.284592 3.194236,3.269875 5.177605,4.074668 1.0818,0.88767 1.576105,2.605818 2.094731,3.628442 -0.212345,1.697765 0.305449,2.895279 0.484678,4.399293 -20.200206,-0.01223 -40.401501,-9.56e-4 -60.602061,0.0019 z"
        ></path>
      </symbol>
    </defs>
    <path
      id="target"
      stroke-width="3"
      fill="transparent"
      class="stroke-gray-200"
      d="m 16.889926,99.425872 0.0029,-28.901093 C 15.27039,68.886513 14.02128,67.58821 12.463282,65.545418 c 0.0717,-0.493827 0.04827,-0.710857 0.408543,-1.361056 0.704432,-2.051931 1.887768,-4.595721 2.815654,-6.590914 -0.07485,-4.157141 -1.495057,-8.234905 -2.778878,-12.205283 l 0.236551,-1.761588 c 0.09416,-0.171926 0.108018,-0.208119 0.200452,-0.382244 -0.353707,-3.814876 -0.710349,-7.62957 -1.065997,-11.444294 -0.803368,-3.046249 -2.265826,-6.595618 -3.3450833,-9.691617 l 0.00956,-0.03843 c 0,-1.713644 -0.1002928,-4.318541 -0.1002928,-6.098559 L 8.7865274,15.608592 C 8.9617798,14.954522 9.1856731,13.701598 9.4030848,13.03161 9.393144,12.887868 7.7801167,7.9831316 7.9071967,7.2402498 15.914872,7.2450245 23.922644,7.279445 31.93032,7.2717015 31.9722,2.9145866 31.90996,6.7925774 31.93512,0.44468567 c 0.04369,0.003824 2.610011,0.80268913 3.902024,1.12612033 0.537172,2.9404974 1.241576,9.354745 1.484838,9.627144 4.343874,2.865185 9.272711,2.004075 9.881324,2.647354 0.564647,0.628545 -0.03595,1.431636 0.461466,1.905645 l 0.113409,0.0095 c 1.457888,-0.03394 2.257575,-0.14248 3.67123,-0.52743 0.376517,-0.340419 0.744584,-0.692272 1.115298,-1.039593 0,0 7.391309,0.836072 8.522181,1.088386 0.0283,0.145857 0.06596,0.289112 0.106397,0.431478 l 0.0019,0.01118 -1.007242,0.952531 c 0.48853,0.666566 1.303504,0.463121 2.029895,0.267219 l 0.935381,0.812326 c -0.326117,0.589512 0.590641,2.495913 1.009442,3.14788 0.543567,-0.442041 0.789764,-0.290048 1.150976,-0.486179 l -0.222861,-1.648589 2.908634,0.170807 0.07926,0.128122 0.35582,0.07782 3.301356,2.125284 0.05105,0.09082 0.121983,1.07702 1.628791,0.408745 0.07304,0.09111 c -0.266052,0.172709 -0.285592,0.498913 -0.232124,0.792153 l 0.06672,0.235041 6.833095,-3.047894 1.616344,-0.107191 1.108903,2.273884 c 0,0 13.220336,1.681122 14.496088,1.386486 0.0086,0.08939 -0.605344,0.375198 -0.605344,0.375198 0,0 -9.72371,4.127772 -13.825871,6.351256 0,0 -15.689405,14.309795 -18.004234,16.274913 -0.0057,3.316288 -0.0261,6.642614 -0.03173,9.961513 -0.259734,0.112855 -1.797054,1.912824 -3.570324,2.225902 -0.834773,0.712692 -1.854892,3.034739 -2.702446,3.456094 -0.561004,0.340217 -0.772632,1.660863 -0.548261,2.367982 -0.111928,1.050185 0.580286,-0.274303 1.819635,0.805518 -0.05459,1.031057 0.864981,1.034355 0.886854,2.058719 0.08097,0.09798 -0.208874,3.616863 -1.789292,10.950937 0.455368,0.876137 8.314013,5.806647 9.207761,5.992167 0.869388,0.344501 0.92868,1.237092 1.397909,2.029752 0.572869,2.284592 3.194236,3.269875 5.177605,4.074668 1.0818,0.88767 1.576105,2.605818 2.094731,3.628442 -0.212345,1.697765 0.305449,2.895279 0.484678,4.399293 -20.200206,-0.01223 -40.401501,-9.56e-4 -60.602061,0.0019 z"
    ></path>
  </svg>
</label>

<script>
  import { interpolate } from "flubber";

  import { animate } from "motion";

  const checkbox = document.getElementById("burger-toggle");
  const label = document.getElementById("burger-toggle-label")!;
  const globe = document.getElementById("globe");
  const minnesota = document.getElementById("minnesota");

  const globePath = globe?.getAttribute("d");
  const minnesotaPath = minnesota?.getAttribute("d");

  if (!globePath || !minnesotaPath) {
    throw new Error("Missing path data");
  }

  checkbox?.addEventListener("change", (e) => {
    // Check if the checkbox is checked
    const isChecked = (e.target as HTMLInputElement).checked;

    // If checked, use the Minnesota path; otherwise, use the globe path
    const fromPath = isChecked ? minnesotaPath : globePath;
    const toPath = isChecked ? globePath : minnesotaPath;

    if (isChecked) {
      label.innerText = "Minnesota";
    } else {
      label.innerText = "All Burgers";
    }

    const interpolater = interpolate(toPath, fromPath, {
      maxSegmentLength: 1,
    });

    const target = document.getElementById("target");

    animate(0, 1, {
      duration: 0.7,
      onUpdate: (progress) => {
        target?.setAttribute("d", interpolater(progress));
      },
    });
  });
</script>
