---
import Footer from "../components/Footer/Footer.astro";
import "../styles/global.css";

type Props = {
  /**
   * The title of the page, used for the document title and meta tags.
   * @default "Nick Krantz"
   */
  title?: string;

  /**
   * The description of the page, used for meta tags.
   * @default "Software Engineer, burger connoisseur, semi-decent home cook."
   */
  description?: string;

  /**
   * Adds a noindex meta tag to the page, preventing search engines from indexing it.
   */
  noIndex?: true;
};

const {
  title = "Nick Krantz",
  description = "Software Engineer, burger connoisseur, semi-decent home cook.",
  noIndex,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta
      name="theme-color"
      content="#1f2937"
      media="(prefers-color-scheme: dark)"
    />
    <meta
      name="theme-color"
      content="#e5e7eb"
      media="(prefers-color-scheme: light)"
    />
    <meta name="url" content="https://www.krantz.app" />
    <meta name="type" content="website" />
    <meta name="image" content="https://www.krantz.app/og-image.png" />
    <meta name="og:type" content="website" />
    <meta name="og:image" content="https://www.krantz.app/og-image.png" />
    <meta name="og:image:height" content="630" />
    <meta name="og:image:width" content="1200" />
    <meta name="twitter:card" content="app" />
    <meta name="twitter:site" content="@nick__krantz" />
    <meta name="twitter:creator" content="@nick__krantz" />
    <meta name="twitter:image" content="https://www.krantz.app/og-image.png" />
    {noIndex && <meta name="robots" content="noindex" />}
    <link
      rel="icon"
      href="/favicon.ico"
      media="(prefers-color-scheme: no-preference)"
    />
    <link rel="icon" href="/favicon.ico" media="(prefers-color-scheme: dark)" />
    <link
      rel="icon"
      href="/favicon-light.ico"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      href="/favicon.ico"
      media="(prefers-color-scheme: no-preference)"
    />
  </head>
  <body
    class:list={[
      "main-grid bg-fixed text-gray-800 bg-gradient-to-bl",
      "py-5 px-5",
      "from-[#cfcfde] via-[#e5e7eb] to-[#80a6ac]",
      "dark:from-[#020024] dark:via-[#1f2937] dark:to-[#1b3d44]  dark:text-gray-200",
    ]}
  >
    <slot />
    <Footer />
  </body>
</html>
